@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 box-border shrink-0 p-0;
  }
  html {
    @apply overflow-x-hidden  focus-within:scroll-smooth;
  }

  /* avoid vw or screen to reduce overflow */
  body {
    @apply mx-auto h-full  w-full;
  }
  ul,
  ol {
    @apply list-none;
  }
  a {
    @apply no-underline;
  }
  button,
  input {
    @apply outline-0;
  }
  img {
    @apply block max-w-full;
  }
  iframe {
    @apply border-0;
  }
}
@layer utilities {
  .display-0 {
    @apply text-[9rem] leading-[8.6rem] tracking-[-0.2rem];
  }
  .display-1 {
    @apply text-[7.2rem] leading-[8.6rem] tracking-[-0.2rem];
  }
  .display-2 {
    @apply text-[5.8rem] leading-[5.64rem] tracking-[-0.09rem];
  }
  .display-3 {
    @apply text-[4.7rem] leading-[5.64rem] tracking-[-0.19rem]; /*leading-[-0.07rem]*/
  }
  .heading-1 {
    @apply text-[3.8rem] leading-[5rem] tracking-[-0.04rem];
  }
  .heading-2 {
    @apply text-[3rem] leading-[4rem] tracking-[-0.03rem];
  }
  .heading-3 {
    @apply text-[2.4rem] leading-[3.2rem] tracking-[-0.02rem];
  }
  .heading-4 {
    @apply text-[1.9rem] leading-[2.5rem] tracking-[-0.02rem];
  }
  .heading-5 {
    @apply text-[1.5rem] leading-[1.98rem] tracking-[-0.015rem];
  }
  .body {
    @apply text-[1rem] leading-[1.47rem] tracking-[0.005rem];
  }
  .label {
    @apply text-[0.8rem] leading-[1.14rem] tracking-[0.012rem];
  }
  .project {
    /* Top margin: 50vh minus 7.5rem */
    margin-top: calc(50vh - 7.5rem);

    /* Bottom margin: 50vh minus 7.5rem */
    margin-bottom: calc(50vh - 7.5rem);
  }
  .hidden-scroll:-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  .hidden-scroll {
    scrollbar-width: none;
  }

  /* Edge and IE */
  .hidden-scroll {
    -ms-overflow-style: none;
  }
  .column:nth-of-type(1) {
    top: -30%;
  }
  
  .column:nth-of-type(2) {
    top: -70%;
  }
  
  .column:nth-of-type(3) {
    top: -30%;
  }
  
  .column:nth-of-type(4) {
    top: -60%;
  }
}
